@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Prata&family=Satisfy&family=Sofia&display=swap');

@import "tailwindcss";

@theme{
  --main-bg: #131619;
   --color-mint-500: oklch(0.72 0.11 178);
   --text-color : #FFFFFF;
  }
  
  @layer base {
    :root {
    --font-heebo: "Heebo", sans-serif;
  }
}

.joinUs_bg{
  background-image: url("./assets/joinUs_BG.jpg");
   background-size: contain;
  background-repeat: no-repeat;
}

body{
  background-color: #131619;
}

.text-outline_ {
  text-shadow:
    -1px -1px 0 #404040, /* top-left */
     1px -1px 0 #404040, /* top-right */
    -1px  1px 0 #404040, /* bottom-left */
     1px  1px 0 #404040; /* bottom-right */
}

.text-outline{
    color: transparent;                 /* remove fill */
  -webkit-text-stroke: 2px #404040; 
}

